@model MVC_MyMusicStore.Models.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "Shopping Cart";
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            
            $(".RemoveLink").click(function (e) {
                e.preventDefault();
                // id from the link
                var recordToDelete = $(this).data("id");
                if (recordToDelete != '') {
                    
                    $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                        function (data) {
                            //  requests get 
                            
                            if (data.ItemCount === 0) {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                            } else {
                                $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            }
                            $('#cart-total').text(data.CartTotal);
                            $('#update-message').text(data.Message);
                            $('#cart-status').text('Cart (' + data.CartCount + ')');
                        });
                }
            });
        });
    </script>
}

<h3>
    <em>Review</em> your cart:
</h3>
<@* a class="btn btn-secondary" asp-action="EmptyCart" asp-controller="Shopping">Empty</a> *@
<p class="button">
    <a asp-action="AddressAndPayment" asp-controller="Checkout">Checkout >></a>
</p>
<div id="update-message"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                Album Id
            </th>
            @* <th>
                Price (each)
            </th> *@
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

       
        @if (Model.CartItems != null)
        {
            // Iterate over cart items and display them
            @foreach (var item in Model.CartItems)
            {
             <tr>
                    <td>@item.AlbumId</td>
                    <td>@item.Count</td>
                    <td><a data-id="@item.RecordId" class="RemoveLink btn btn-danger">-</a></td>
             </tr>
             

            <td>
                <a asp-action="Details" asp-controller="Store" asp-route-id="@item.Album.Title">@item.Album.Title</a>
            </td>
            

                @* <tr id="row-@item.RecordId">
                    
                    
                    <td>
                        <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove from cart</a>
                    </td>
                </tr> *@
            }
        }
        else
        {
            <tr>
                <td colspan="4">Cart is empty</td>
            </tr>
        }

        <tr>
            <td>
            Total : @Model.CartTotal
            </td>        
        </tr>
    </tbody>
</table>
