@model MVC_MyMusicStore.Models.Album
@{
    ViewBag.Title = "Details";
}

<div class="container text-light">
    <div style="display:flex; padding:1%">
        <button onclick="history.go(-1)" class="btn btn-link"><i class="fa-solid fa-angles-left" style="color:white; font-size:1.5rem"></i></button>
        <h2>Album : @Model.Title</h2>
    </div>

    <div class="card m-3 p-0" style="width: 70vw; height:auto; background-color:#4047d5; border-radius:5px">
            <div class="row g-0" style="height:50vh">
                <div class="col-4" style="height:inherit">
                <img src="@Model.AlbumImgUrl" class="" style="height:inherit; width:100% ; border-radius:5px 0 0 5px" alt="...">
                </div>
                @* <div style="height : 16vh ; background-color: bisque " class="m-0"></div> *@
                <div class="col-8" style="height:inherit">
                <div class="card-body">
                    <h5 class="card-title m-3" style="font-size:1.3rem">Album name :  @Model.Title</h5>

                <ul class="list-group list-group-flush " style="font-size : 1.3rem">
                        <li class="list-group-item text-light" style="background-color: #4047d5">Genre : @Model.Genre.Name</li>
                        <li class="list-group-item text-light" style="background-color:  #4047d5">Artist : @Model.Artist.Name</li>
                        <li class="list-group-item text-light" style="background-color:  #4047d5">Price : $@Model.Price</li>
                    
                 </ul>

                    <p class="btn btn-light m-3">
                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.AlbumId" style="color:black ; text-decoration:none">Add to cart</a>
                    </p>
                </div>

                </div>
            </div>
        </div>
</div>


