@model List<MVC_MyMusicStore.Models.Album>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light" >
    <h1 class="display-4">Welcome</h1>
    <h2>Albums Available</h2>
</div>
<hr class="hr" style="color:white" />


<div class="container" style="display:flex ; justify-content:center">
    
    
    @* <div>
        <ul id="categories" class="list-group list-group-flush mt-2">
            <li class=" list-group-item"><h5>Genres</h5></li>
            @foreach (var g in Model)
            {
                <li class="list-group-item m-1">
                    @Html.ActionLink(g.Genre.Name,
                             "Browse", "Store",
                             new { Genre = g.Genre.Name }, null)
                </li>
            }
        </ul>
    </div> *@
    @await Html.PartialAsync("_GetGenre", ViewData["Genres"])

    <div class="vr" style="height: 30em;"></div>
    
    <div class="row ms-3" style="display:flex; justify-content:flex-start">
        <div class="container" style="display:flex" >
            <form asp-controller="Home" asp-action="Index" method="get" class="mb-3" style="width:74%">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search albums" name="searchString">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            <div class="btn-group ms-3" >
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:38px">
                    Sort
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Title_desc">Title</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Price_Low">Price Low</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Price_High">Price High</a></li>
                </ul>
            </div>
        </div>
        @foreach(var i in Model)
        {
            <div class="card m-3 p-0" style="width: 18rem; height:25em; background:#4047d5; color:white; border-radius:5px;">
                <img src="@i.AlbumImgUrl" class="card-img-top" style="height:15rem;border-radius:5px 5px 0 0; "  alt="@i.Title">
                @* <div style="height : 16vh ; background-color: bisque " class="m-0"></div> *@
                <div class="card-body">
                    <a asp-action="Details" asp-controller="Store" asp-route-id="@i.AlbumId" style="color:white ; text-dlecoration:none"><h5 class="card-title"> @i.Title</h5></a>

                    <p class="card-text">Price : $@i.Price</p>

                    <p class="btn btn-light">
                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@i.AlbumId" style="color:black ; text-decoration:none">Add to cart</a>
                    </p>
                </div>
                
            </div>
        }
    
    </div>
